/*
Author: Rose Bautista
Date due: 11/05/2020
File Description: CSS for errors page
*/

/* general body css */
body {
    font-family: "Inconsolata", monospace;
    margin: 0;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 15px;
}

h2 {
    color: #ECCBD9;
}

/* top portion & helps organize the first thing the viewer sees */
.home{
    color: #9e7bb5;
    font-size: 150px;
    font-weight: 550;
}

img{
    height: 200px;
    width: 200px;
    opacity: 100;
    border-radius: 50%;
}

/* thank you for the bottom part of the webpage */ 
.thank-you {
    margin-top: 50px;
    padding-top: 50px;
    background-color: #9e7bb5;
    padding-bottom: 50px;
  }

.ty {
    padding-top: 20px;
}