/*
Author: Rose Bautista
Date due: 11/05/2020
File Description: CSS for invoice page
*/

body {
    font-family: "Inconsolata", monospace;
    margin: 0;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 15px;
  }

/* top portion */
.home{
    color:#fae199;
    font-size: 100px;
}

/* invoice table color and size */
table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
/* border around */
td, th {
    border: 1px solid black;
    padding: 8px;
}
/* color of top of table (item, qty, price) */
th {
    background-color: #ffc759;
}

/* shipping policy */
.shipping-policy {
    margin-top: 50px;
    padding-top: 50px;
    background-color: #fae199;
    padding-bottom: 50px;
  }
  
.sp {
    padding-top: 20px;
}
